.SectionSix{
    margin-top: 10px;
    background-color: rgb(224, 226, 226);
    padding: 10px 10px;
}

.SectionSix__endContent{
    font-size: 15px;
    font-weight: 500;
    margin-top: 11px;
    color: #535352;
}
@media (max-width: 600px) {
    .SectionSix__endContent {
        font-size: 11px;
    }
}
@media (max-width: 368.9px) {
    .SectionSix__boxUl li { 
        font-size: 24px;
    }
   
    .SectionSix__endContent {
        font-size: 11px;
    }
}
